*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}

.timings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: larger;
    margin: 2rem;
}


